<div class="container random-background">
  <div class="card-container">
    <mat-card>
      <mat-progress-bar
        *ngIf="isLoading$ | async"
        mode="indeterminate"
      ></mat-progress-bar>
      <mat-card-header>
        <mat-card-title>Angular Blog</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm">
          <ng-container *ngIf="this.loginForm.errors?.['invalid']">
            <div class="alert alert-error">
              <mat-icon>error</mat-icon>
              {{ this.loginForm.errors?.['invalid'] }}
            </div>
          </ng-container>

          <mat-form-field appearance="outline">
            <mat-label>Enter your user name / email</mat-label>
            <input
              matInput
              placeholder="patanderson / pat@anderson.com"
              formControlName="userName"
              required
            />
            <mat-error *ngIf="userName?.invalid">Invalid user name</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              placeholder=""
              formControlName="password"
              type="password"
              required
            />
            <mat-error *ngIf="password?.invalid">Invalid password</mat-error>
          </mat-form-field>

          <button
            mat-flat-button
            color="primary"
            (click)="login()"
            [disabled]="loginForm.invalid || (isLoading$ | async)"
          >
            Login
          </button>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button (click)="forgotPassword()"> Forgot password? </a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <p>
          Dont have an account?
          <a mat-button color="accent" (click)="signUp()">Sign Up</a>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
