:host {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  min-width: 250px;
}

.user-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  mat-icon {
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
  }
}

.menu-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 1rem;

  gap: 1rem;
}
