.comment-card {
  margin: 0.5rem;
  border: none;
  box-shadow: none;

  .comment-avatar {
    mat-icon {
      font-size: 3rem;
      width: auto;
      height: auto;

      color: lightgray;
    }
  }

  .comment-content {
    display: flex;
    flex-direction: column;
  }
}
