<ng-container *ngIf="post$ | async as post; else loading">
  <div *ngIf="post" class="posts-container">
    <ng-blog-blog-post
      [post]="post"
      [showBackButton]="true"
      (postLiked)="likePost($event)"
      (postUnLiked)="unLikePost($event)"
      (postShared)="sharePost($event)"
      (profileClicked)="navigateToProfile($event)"
    >
      <ng-blog-blog-comment-form
        (submit)="sendComment(post.id, $event)"
      ></ng-blog-blog-comment-form>
      <div class="comments-container" *ngIf="post.comments?.length">
        <div *ngFor="let comment of post.comments; trackBy: trackComment">
          <mat-divider></mat-divider>
          <ng-blog-blog-comment
            [comment]="comment"
            (profileClicked)="navigateToCommentProfile($event)"
            (postClicked)="navigateToOriginalPost($event)"
          >
          </ng-blog-blog-comment>
        </div>

        <a
          *ngIf="post.totalComments > post.comments.length"
          class="text-muted cursor-pointer centered-content"
          (click)="loadMoreComments(post)"
          >Load more comments...</a
        >
      </div>
    </ng-blog-blog-post>
  </div>
</ng-container>

<ng-template #loading> Loading... </ng-template>
