:host {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.blog-post-card {
  margin-bottom: 1rem;

  .blog-post-card-header {
    display: flex;
    align-items: center;

    .post-back-container {
      padding-top: 8px;
      padding-left: 8px;
    }

    mat-card-header {
      width: 100%;

      .post-avatar {
        width: 3rem;
        height: 3rem;

        mat-icon {
          font-size: 3rem;
          width: auto;
          height: auto;

          color: lightgray;
        }
      }
    }
  }

  .post-image {
    min-height: 100px;
  }

  .post-content {
    margin-top: 1rem;
  }

  .post-actions {
    min-height: 0;
    padding: 0 8px;
  }

  .post-statistics {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;

    color: gray;
  }

  .post-comment {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }
}

@media screen and (max-width: 959px) {
  :host {
    width: 100%;
  }
}
