<mat-card class="blog-post-card">
  <div class="blog-post-card-header">
    <mat-card-header>
      <div mat-card-avatar class="post-avatar skeleton"></div>
      <mat-card-title class="skeleton skeleton-text title"></mat-card-title>
      <mat-card-subtitle
        class="skeleton skeleton-text subtitle"
      ></mat-card-subtitle>
    </mat-card-header>
  </div>
  <mat-divider></mat-divider>
  <img class="post-image skeleton" />
  <mat-card-content class="post-content">
    <div class="skeleton skeleton-text"></div>
  </mat-card-content>

  <mat-card-actions class="post-actions">
    <button mat-icon-button disabled>
      <mat-icon>favorite_outline</mat-icon>
    </button>

    <button mat-icon-button disabled>
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content class="post-content">
    <div class="skeleton skeleton-text width-25"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text width-25"></div>
  </mat-card-content>
</mat-card>
