:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;

  overflow-y: auto;
  padding: 0.5rem 0.5rem;

  margin-right: 1rem;

  ng-blog-blog-post {
    width: 33%;
  }

  ng-blog-blog-form {
    width: 33%;

    margin-bottom: 1rem;
  }
}
